.about {
    height: 500px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about .title,
.about .sub_title {
    color: #495E57;
}

.about .lead_text {
    width: 400px;
}

.about img {
    height: 350px;
    width: 250px;
    float: right;
    border-radius: 16px;
}

.about_photo_1 {
    margin-top: 15px;
}

.about_photo_2 {}




.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-left: auto;
}

.top_image {
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 1;
}

.bottom_image {
    grid-row: 1;
    grid-column: 1 / span 7;
    padding-top: 40%;
}