.footer {
    background-color: #495E57;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer_main {
    height: 400px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}