.high {
    height: 700px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.high_title {
    height: 100px;
    display: flex;
}

.tt {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}

.btn_om {
    align-self: center;
    margin-left: auto;
}

.high_cards {
    display: flex;
}

.high_cards h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.high_cards span {
    float: right;
    color: #FF8A00;
}

.card_1,
.card_2,
.card_3 {
    height: 550px;
    width: 270px;
    border-radius: 16px;
    background-color: #EDEFEE;
    position: relative;
}

.card_3 {
    margin-left: auto;
}

.card_2 {
    margin-left: auto;
    margin-right: auto;
}

.card_1 {
    margin-right: auto;
}

.card {
    height: 200px;
    width: 269px;
    border-radius: 16px;
}

.icon {
    height: 10px;
    width: 15px;
    margin-left: 10px;
}

.order {
    position: absolute;
    bottom: 0;
}