.testimonials {
    background-color: #495E57;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials_main {
    height: 600px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials .title {
    color: #F4CE14;
    text-align: center;
    margin-top: 0;
}

.review {
    display: flex;
}

.review_1,
.review_2,
.review_3,
.review_4 {
    height: 390px;
    width: 200px;
    border-radius: 16px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #EDEFEE;
    position: relative;
}