.title {
    font-family: 'Markazi Text';
    font-weight: 550;
    font-size: 64px;
}

.sub_title {
    font-family: 'Markazi Text';
    font-weight: 400;
    font-size: 40px;
}

.lead_text {
    font-family: 'Karla';
    font-weight: 500;
    font-size: 18px;
}

.section_title {
    font-family: 'Karla';
    font-weight: 800;
    font-size: 16px;
}

.highlight_text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.paragraph_text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.card_title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: #F4CE14;
}